dictionary = {'spain' : 'madrid','usa' : 'vegas'}
print(dictionary.keys())
print(dictionary.values())

In [7]:
dictionary = {'spain' : 'madrid','usaa' : 'vegas'}
print(dictionary.keys())
print(dictionary.values())

dict_keys(['spain', 'usaa'])
dict_values(['madrid', 'vegas'])

In [11]:
# Keys have to be immutable objects like string, boolean, float, integer or tubles
# List is not immutable
# Keys are unique
dictionary['spain'] = "barcelona"    # update existing entry
print(dictionary)
dictionary['usaa'] = "abd"
print(dictionary)
dictionary['france'] = "paris"       # Add new entry
print(dictionary)
del dictionary['spain']              # remove entry with key 'spain'
print(dictionary)

print('france' in dictionary)        # check include or not
dictionary.clear()                   # remove all entries in dict
print(dictionary)

{'spain': 'barcelona'}
{'spain': 'barcelona', 'usaa': 'abd'}
{'spain': 'barcelona', 'usaa': 'abd', 'france': 'paris'}
{'usaa': 'abd', 'france': 'paris'}
True
{}

In [ ]:
#
#
#
#
#
#
#

In [15]:
import pandas as pd
data = pd.read_csv('C:\\Users\\muham\\OneDrive\\Masaüstü\\a.csv')

In [17]:
print(data)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [23]:
list=[1,2,3,4,5,6,7]
for index, value in enumerate(list):
    print(index, ":", value)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7

In [24]:
dictionary = {'spain':'madrid','france':'paris'}
for key,value in dictionary.items():
    print(key," : ",value)
print('')

spain  :  madrid
france  :  paris

In [33]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [42]:
# flexible arguments *args
def f(*args):
    for i in args:
        print(i)
f(1)
print("")
f('asd',2,3,4)
# flexible arguments **kwargs that is dictionary
def f(**kwargs):
    """ print key and value of dictionary"""
    for key, value in kwargs.items():               # If you do not understand this part turn for loop part and look at dictionary in for loop
        print(key, " ", value)
f(country = 'spain', capital = 'madrid', population = 123456)

1

asd
2
3
4
country   spain
capital   madrid
population   123456

In [43]:
data = pd.read_csv('C:\\Users\\muham\\OneDrive\\Masaüstü\\a.csv')
data.head()

                                                                                            name;surname;;;;age
John                                               Doe      120 jefferson st. Riverside  NJ        08075;;;;;25
Jack                                               McGinnis 220 hobo Av.      Phila      PA        09119;;;;;45
John "Da Man",Repici,120 Jefferson St.,Riversid... NaN      NaN               NaN       NaN                 NaN
Stephen,Tyler,"7452 Terrace ""At the Plaza"" ro... NaN      NaN               NaN       NaN                 NaN
NaN                                                Blankman NaN               SomeTown   SD        00298;;;;;12

In [44]:
data.shape

(6, 1)

In [45]:
data.info

<bound method DataFrame.info of                                                                                             name;surname;;;;age
John                                               Doe      120 jefferson st. Riverside  NJ        08075;;;;;25
Jack                                               McGinnis 220 hobo Av.      Phila      PA        09119;;;;;45
John "Da Man",Repici,120 Jefferson St.,Riversid... NaN      NaN               NaN       NaN                 NaN
Stephen,Tyler,"7452 Terrace ""At the Plaza"" ro... NaN      NaN               NaN       NaN                 NaN
NaN                                                Blankman NaN               SomeTown   SD        00298;;;;;12
Joan "the bone", Anne,Jet,"9th, at Terrace plc"... NaN      NaN               NaN       NaN                 NaN>

In [7]:
import pandas as pd

# data frames from dictionary
country = ["Spain","France"]
population = ["11","12"]
list_label = ["country","population"]
list_col = [country,population]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

  country population
0   Spain         11
1  France         12

In [8]:
# Add new columns
df["capital"] = ["madrid","paris"]
df

  country population capital
0   Spain         11  madrid
1  France         12   paris

In [9]:
# Broadcasting
df["income"] = 0 #Broadcasting entire column
df

  country population capital  income
0   Spain         11  madrid       0
1  France         12   paris       0