In [5]:
import pandas as pd

In [121]:
data = pd.read_csv("D:/gradproject/weight.csv",sep=',', encoding='latin-1')

In [122]:
data.head(10)

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3
5    Male     189     104      3
6    Male     147      92      5
7    Male     154     111      5
8    Male     174      90      3
9  Female     169     103      4

In [123]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [124]:
data = data[['Height', 'Weight', 'Index']]

In [125]:
data.head()

   Height  Weight  Index
0     174      96      4
1     189      87      2
2     185     110      4
3     195     104      3
4     149      61      3

In [126]:
import numpy as np
y=np.array(data['Weight'])
x = np.array(data.drop('Weight', axis=1))

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [129]:
from sklearn.linear_model import Lasso

In [130]:
lasso=Lasso().fit(x_train,y_train)

In [131]:
print(lasso.score(x_train, y_train))
print(lasso.score(x_test, y_test))

0.7932709040364436
0.7593562043958527

In [132]:
import numpy as np

In [133]:
np.sum(lasso.coef_!=0)

2

In [134]:
lasso0=Lasso(alpha=1,max_iter=1000000).fit(x_train,y_train)
print(lasso0.score(x_train,y_train))
print(lasso0.score(x_test,y_test))

0.7932709040364436
0.7593562043958527

In [137]:
new_data = np.array([[149,3]])
lasso0.predict(new_data)

array([73.11657207])